* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.banner {
  width: 100%;
  height: 500px;
  display: flex;
  border-bottom: 3px solid #F0A6A6;
}
div.banner div.banner-img {
  width: 70%;
  background-image: url("../img/new_img/daiga-ellaby--5KjF_u5YzI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
div.banner div.banner-img div.fliter {
  background-color: black;
  width: 100%;
  height: 500px;
  opacity: 10%;
}
div.banner div.banner-content {
  width: 30%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.banner div.banner-content h1 {
  margin-bottom: 50px;
}

main {
  padding: 50px;
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  padding-bottom: 20px;
  background-color: rgb(240, 240, 240);
}
main div.startIcon {
  position: relative;
  display: none;
}
main div.startIcon img {
  width: 50px;
  height: 50px;
}
main div.startIcon img.start {
  position: absolute;
}
main section.left {
  background-color: #F0A6A6;
  border-radius: 5px;
  height: 280px;
}
main section.left h1 {
  text-align: center;
  margin: 10px 0;
  border-bottom: 2px solid white;
}
main section.left h2 {
  font-size: 20px;
  margin-left: 20px;
}
main section.left h3 {
  margin-left: 20px;
  font-size: 18px;
}
main section.left ul {
  list-style: none;
  margin-left: 20px;
}
main section.left ul li a {
  text-decoration: none;
  color: white;
}
main section.left ul li a:hover {
  background-color: #c7a9a1;
  color: white;
  border-radius: 5px;
  padding: 2px;
}
main section.right {
  border-radius: 20px;
  border: 2px solid #F0A6A6;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 45px;
  justify-content: center;
  padding: 10px;
}
main div.card {
  overflow: hidden;
  min-width: 30%;
  border-radius: 10px;
  padding: 20px;
  height: 450px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main div.card img {
  width: 100%;
  height: 250px;
  opacity: 80%;
  border-radius: 50px;
}
main div.card div.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
main div.card div.card-body span.new {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border: 3px solid #F0A6A6;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
main div.card div.card-body span.new:hover {
  background-color: #F0A6A6;
  color: white;
}
main div.card div.card-body div.heart-section {
  margin-top: 20px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 20px;
}
main div.card div.card-body div.heart-section p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main div.card div.card-body a.chat-btn {
  padding: 5px;
  border: none;
  text-align: center;
  border-radius: 10px;
  background-color: #F0A6A6;
  width: 100%;
  margin: 40px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  color: white;
}
main div.card div.card-body div.heart {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/heart.png");
  background-position: center;
  background-size: cover;
  transition: all 0.1s;
  cursor: pointer;
}
main div.card div.card-body div.redheart {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/changheart.png");
  background-position: center;
  background-size: cover;
  animation-name: huge;
  animation-duration: 0.5s;
}

@keyframes huge {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1200px) {
  main section.right div.card {
    height: 500px;
    padding: 10px 0;
  }
  main section.right div.card div.card-body div.heart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main section.right div.card div.card-body div.heart-section p {
    margin: 10px 0;
    margin-left: auto;
  }
  main section.right div.card div.card-body a.chat-btn {
    margin: 10px 0;
  }
}
@media (max-width: 992px) {
  div.banner div.banner-img {
    width: 60%;
  }
  div.banner div.banner-content {
    width: 40%;
  }
  div.banner div.banner-content h1 {
    font-size: 24px;
  }
  div.banner div.banner-content h2 {
    font-size: 18px;
  }
  main section.right {
    grid-template-columns: auto auto;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  div.banner {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    height: 400px;
  }
  div.banner div.banner-img {
    width: 100%;
    order: 1;
    height: 400px;
  }
  div.banner div.banner-img div.fliter {
    height: 400px;
  }
  div.banner div.banner-content {
    order: 2;
    position: absolute;
    bottom: -30px;
    background-color: white;
    padding: 10px;
    width: 50%;
  }
  div.banner div.banner-content h1 {
    margin-bottom: 30px;
  }
  main {
    grid-template-columns: auto;
  }
  main div.startIcon {
    display: block;
    cursor: pointer;
  }
  main section.left {
    display: none;
  }
}
@media (max-width: 576px) {
  div.banner div.banner-content h1 {
    font-size: 18px;
  }
  div.banner div.banner-content h2 {
    font-size: 16px;
  }
  main {
    width: 100%;
  }
  main div.startIcon {
    display: block;
    cursor: pointer;
    width: 100%;
    margin-right: 300px;
  }
  main section.right {
    border: none;
    grid-template-columns: auto;
    gap: 50px;
  }
  main section.right div.card {
    border-bottom: 5px dashed #F0A6A6;
  }
  main section.right div.card:last-child {
    border-bottom: none;
  }
}/*# sourceMappingURL=new_page.css.map */