* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.banner {
  width: 100%;
  height: 500px;
  display: flex;
  border-bottom: 3px solid #F0A6A6;
}
div.banner div.banner-img {
  width: 70%;
  background-image: url("../img/new_img/daiga-ellaby--5KjF_u5YzI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
div.banner div.banner-img div.fliter {
  background-color: black;
  width: 100%;
  height: 500px;
  opacity: 10%;
}
div.banner div.banner-content {
  width: 30%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.banner div.banner-content h1 {
  margin-bottom: 50px;
}

main div.newShop h1 {
  text-align: center;
  margin: 50px 0;
}
main div.newShop h2 {
  text-align: center;
  margin-bottom: 50px;
}
main div.newShop div.spanSection {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
main div.newShop div.spanSection span {
  width: 100px;
  height: 30px;
  border: 1px solid #F0A6A6;
}
main div.newShop div.spanSection span:hover {
  background-color: #F0A6A6;
  color: white;
}
main div.imgContext {
  margin: 50px 0;
}
main div.imgContext h1 {
  text-align: center;
}
main div.imgContext span {
  background-color: white;
  opacity: 0.8;
  padding: 5px;
  margin-bottom: 10px;
}
main div.imgContext div.imgCard-section {
  display: flex;
  padding: 50px;
}
main div.imgContext div.imgCard-section section.left {
  background-image: url("../img/new_img/amy-shamblen-qdPnQuGeuwU-unsplash.jpg");
  width: 50%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}
main div.imgContext div.imgCard-section section.right {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
main div.imgContext div.imgCard-section section.right div.upImg {
  width: 100%;
  height: 250px;
  background-image: url("../img/new_img/persona-mockups-HTMdKgcTNKM-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}
main div.imgContext div.imgCard-section section.right div.downImg {
  width: 100%;
  height: 250px;
  display: flex;
}
main div.imgContext div.imgCard-section section.right div.downImg div.leftImg {
  width: 50%;
  height: 250px;
  background-image: url("../img/new_img/christina-chauskin-yA7N0pbQWAs-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}
main div.imgContext div.imgCard-section section.right div.downImg div.rightImg {
  width: 50%;
  height: 250px;
  background-image: url("../img/new_img/chandra-oh-1DnjXqGy7jM-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}
main div.shopCard {
  gap: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
main div.shopItem {
  overflow: hidden;
  min-width: 30%;
  padding: 20px;
  height: 450px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main div.shopItem img {
  width: 100%;
  height: 300px;
}
main div.shopItem div.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
main div.shopItem div.card-body span.new {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border: 3px solid #F0A6A6;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
main div.shopItem div.card-body span.new:hover {
  background-color: #F0A6A6;
  color: white;
}
main div.shopItem div.card-body div.heart-section {
  margin-top: 20px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 20px;
}
main div.shopItem div.card-body div.heart-section p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main div.shopItem div.card-body .chat-btn {
  padding: 5px;
  border: none;
  text-align: center;
  border-radius: 10px;
  background-color: #F0A6A6;
  width: 100%;
  margin: 40px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  color: white;
}
main div.shopItem div.card-body div.heart {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/heart.png");
  background-position: center;
  background-size: cover;
  transition: all 0.1s;
  cursor: pointer;
}
main div.shopItem div.card-body div.redheart {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/changheart.png");
  background-position: center;
  background-size: cover;
  animation-name: huge;
  animation-duration: 0.5s;
}
main div.reImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}
main div.reImg div.sliderBtn {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main div.reImg div.sliderBtn img {
  width: 50px;
  height: 50px;
}
main div.reImg div.reImg-slider {
  display: flex;
  width: 800px;
  position: relative;
}
main div.reImg div.reImg-section {
  display: flex;
  width: 800px;
  height: 400px;
}
main div.reImg div.reImg-section div.leftReImg {
  width: 400px;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main div.reImg div.reImg-section div.rightImg {
  width: 400px;
  height: 400px;
  border-left: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
main div.reImg div.reImg-section div.leftReImg.first {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../img/new_img/paz-arando-ldxdJ8wGqcU-unsplash.jpg");
}
main div.reImg div.reImg-section div.rightImg.second {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../img/new_img/davidcohen-qghuLqyh3nE-unsplash.jpg");
}
main div.reImg div.reImg-section div.leftReImg.third {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../img/new_img/cat-han-wZZR8Is6Rtk-unsplash.jpg");
}
main div.reImg div.reImg-section div.rightImg.fourth {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../img/new_img/kris-atomic-Xa8fX8bQCgs-unsplash.jpg");
}
main div.reImg div.reImg-section div.leftReImg.five {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../img/new_img/cloris-ying-dCSvtApISyU-unsplash.jpg");
}
main div.reImg div.reImg-section div.rightImg.six {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../img/new_img/calugar-ana-maria-gnLanqkBUTY-unsplash.jpg");
}
main div.reImg span {
  margin-top: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
  justify-content: space-evenly;
  opacity: 0.6;
  padding: 50px;
  bottom: 0;
  left: 300px;
}
main div.reImg span h1 {
  border: none;
  font-size: 20px;
  line-height: 2.5;
}
main div.reImg span a {
  width: 50%;
  border: 2px solid #F0A6A6;
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin: 0 auto;
  padding: 10px;
}
main div.reImg span a:hover {
  background-color: #F0A6A6;
  color: white;
}

@keyframes huge {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1200px) {
  main section.right div.card {
    height: 500px;
    padding: 10px 0;
  }
  main section.right div.card div.card-body div.heart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main section.right div.card div.card-body div.heart-section p {
    margin: 10px 0;
    margin-left: auto;
  }
  main section.right div.card div.card-body a.chat-btn {
    margin: 10px 0;
  }
}
@media (max-width: 992px) {
  div.banner div.banner-img {
    width: 60%;
  }
  div.banner div.banner-content {
    width: 40%;
  }
  div.banner div.banner-content h1 {
    font-size: 24px;
  }
  div.banner div.banner-content h2 {
    font-size: 18px;
  }
  main div.imgContext div.imgCard-section {
    width: 90%;
    margin: 0 auto;
  }
  main div.imgContext div.imgCard-section section.left {
    width: 60%;
  }
  main div.imgContext div.imgCard-section section.right {
    width: 40%;
  }
  main div.shopCard {
    grid-template-columns: auto auto;
  }
  main div.reImg {
    width: 500px;
  }
  main div.reImg div.reImg-slider {
    width: 500px;
  }
  main div.reImg div.reImg-section {
    width: 500px;
  }
  main div.reImg div.reImg-section div.leftReImg {
    width: 250px;
  }
  main div.reImg div.reImg-section div.rightImg {
    width: 250px;
  }
}
@media (max-width: 768px) {
  div.banner {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    height: 400px;
  }
  div.banner div.banner-img {
    width: 100%;
    order: 1;
    height: 400px;
  }
  div.banner div.banner-img div.fliter {
    height: 400px;
  }
  div.banner div.banner-content {
    order: 2;
    position: absolute;
    bottom: -30px;
    background-color: white;
    padding: 10px;
    width: 50%;
  }
  div.banner div.banner-content h1 {
    margin-bottom: 30px;
  }
  main div.imgContext div.imgCard-section {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
  }
  main div.imgContext div.imgCard-section section.left {
    width: 100%;
    background-image: url("../img/new_img/allison-christine-RY9w18Eq-OM-unsplash.jpg");
  }
  main div.imgContext div.imgCard-section section.right {
    width: 100%;
  }
  main div.shopCard {
    grid-template-columns: auto;
  }
  main div.reImg {
    width: 300px;
    height: 300px;
  }
  main div.reImg div.reImg-slider {
    width: 300px;
    height: 300px;
  }
  main div.reImg div.reImg-section {
    width: 300px;
    height: 300px;
  }
  main div.reImg div.reImg-section div.leftReImg {
    width: 150px;
  }
  main div.reImg div.reImg-section div.rightImg {
    width: 150px;
  }
  main div.reImg span {
    width: 100%;
    margin-bottom: 60px;
    background-color: transparent;
  }
  main div.reImg span h1 {
    display: none;
  }
}
@media (max-width: 576px) {
  div.banner div.banner-content h1 {
    font-size: 18px;
  }
  div.banner div.banner-content h2 {
    font-size: 16px;
  }
  main {
    width: 100%;
  }
  main div.imgContext div.imgCard-section section.left {
    margin: 20px 0;
    width: 100%;
  }
  main div.imgContext div.imgCard-section section.right {
    width: 100%;
  }
}/*# sourceMappingURL=new_page.css.map */