// main區域
main {
    position: relative;

    div.banner {
        background-image: url("../img/美甲師/laura-chouette-Vze5s6SCrI8-unsplash.jpg");
        width: 100%;
        height: 450px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {

            text-align: center;
            color: white;
            font-size: 50px;
            margin-bottom: 50px;
        }

        h2 {
            color: white;
            font-size: 30px;
            text-align: center;
        }
    }

    padding: 20px;

    // background-color: rgb(240, 240, 240);
    div.crumbs {
        display: flex;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: #F0A6A6;
            }


        }

        p {
            &::before {
                content: "/";
            }


        }

    }

    h1 {
        text-align: center;
    }

    // 上傳步驟的區域
    div.upload {
        margin-bottom: 100px;
        display: block;

        div.upload-cardBody {
            display: flex;

            &:nth-child(2n) {
                section.left {
                    order: 2;
                    position: relative;


                    div.text {
                        width: 300px;
                        height: 300px;
                        position: absolute;
                        text-align: center;
                        background-color: white;
                        top: 50px;
                        left: -100px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h2 {
                            margin-bottom: 20px;
                        }
                    }
                }

                section.right {
                    z-index: -1;
                    order: 1;
                    position: relative;


                }
            }
        }

        section.left {
            width: 50%;
            height: 400px;

        }

        section.right {
            width: 50%;
            height: 400px;

            background-position: center center;
            background-size: cover;
            text-align: center;
            position: relative;

            div.text {
                background-color: white;
                width: 300px;
                height: 300px;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 50px;
                left: -100px;

                h2 {
                    margin-bottom: 20px;
                }
            }
        }

        section.right.first {
            background-image: url("../img/美甲師/analia-baggiano-egbB-zLBeDo-unsplash.jpg");
        }

        section.right.second {
            background-image: url("../img/美甲師/ashley-piszek-3iSpG-NHsLs-unsplash.jpg");
        }

        section.right.third {
            background-image: url("../img/美甲師/ines-bahr-sgxhA2BcJCQ-unsplash.jpg");
        }

        section.right.fourth {
            background-image: url("../img/美甲師/no-revisions-02zwWe4ZxFE-unsplash.jpg");
        }
    }


    div.dream {
        border-radius: 30px 0 30px 0;
        padding: 50px;
        border: 3px solid #F0A6A6;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
        background-color: white;

        h1 {
            margin-bottom: 50px;
        }

        label {
            font-size: 20px;
        }

        .fake-input {
            width: 40px;
            height: 40px;
            position: relative;


            img.fake-img {
                top: -10px;
                width: 40px;
                height: 40px;
                position: absolute;

            }
        }

        input {
            // width: 300px;
            height: 50px;
            font-size: 20px;
            margin: 50px 0;
            width: 80%;
        }

        select {
            height: 50px;
            font-size: 20px;
            margin: 50px 0;
            width: 80%;
        }

        input.imgFile {
            border: none;
            background-color: yellow;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;

        }

        textarea {
            margin: 20px 0;
            font-size: 20px;
        }

        div.submitSection {
            margin-left: auto;
            width: 40%;

            button.sub {
                padding: 10px;
                border: 2px solid #F0A6A6;
                cursor: pointer;
                background-color: white;
                border-radius: 5px;
                color: black;
                width: 100%;

                &:hover {
                    background-color: #F0A6A6;
                    color: white;
                }
            }
        }
    }

    div.formReview {

        background-color: white;
        ;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 70px;
        left: 0;

        display: none;

        div.formContext {
            width: 80%;
            height: 80%;
            display: flex;

            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-top: 30px;
        }

        p {
            text-align: center;
            margin: 5px;
            font-size: 20px;
        }

        div.btnGroup {
            display: flex;
            margin-top: 50px;
        }

        button {
            border: none;
            background-color: white;
            color: black;
            width: 150px;
            border: 1px solid #F0A6A6;
            // padding: 10px;
            // margin-top: 10px;
            margin: 0 30px;
            padding: 10px;

            &:hover {
                background-color: #F0A6A6;
                color: white;
            }
        }
    }

}

// rwd區域
@media (max-width:992px) {
    main {
        div.upload {
            div.upload-card {
                div.upload-cardBody {
                    section.right {
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    main {
        div.upload {
            div.upload-card {
                div.upload-cardBody {
                    section.right {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    main {
        div.banner {
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 28px;
            }
        }

        div.upload {
            div.upload-card {
                div.upload-cardBody {
                    margin-bottom: 80px;
                    position: relative;
                    display: flex;


                    section.left {
                        width: 100%;

                        div.text {
                            color: white;
                            background-color: black;
                            opacity: 0.6;
                            width: 250px;
                            height: 250px;

                        }
                    }

                    section.right {
                        width: 100%;

                        div.text {
                            color: white;
                            background-color: black;
                            opacity: 0.6;
                            width: 250px;
                            height: 250px;

                        }
                    }
                }
            }
        }

        div.dream {
            h1 {
                font-size: 24px;
            }
        }
    }
}